*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:#F4F7FB;

    color:#1F2937;

}

nav{

    position:fixed;

    top:0;

    width:100%;

    background:white;

    padding:18px 8%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 2px 15px rgba(0,0,0,.08);

    z-index:999;

}

.logo{

    font-size:24px;

    font-weight:700;

    color:#2563EB;

}

.logo i{

    margin-right:8px;

}

nav ul{

    display:flex;

    list-style:none;

    gap:35px;

}

nav a{

    text-decoration:none;

    color:#444;

    font-weight:500;

    transition:.3s;

}

nav a:hover{

    color:#2563EB;

}

#home{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:120px 10% 60px;

}

.hero-text{

    max-width:900px;

}

.hero-text h1{

    font-size:52px;

    color:#1E3A8A;

}

.hero-text h2{

    margin-top:10px;

    color:#2563EB;

    font-size:28px;

    font-weight:600;

}

.hero-text p{

    margin-top:30px;

    font-size:18px;

    color:#555;

    line-height:32px;

}

.hero-text button{

    margin-top:45px;

    padding:16px 45px;

    border:none;

    background:#2563EB;

    color:white;

    font-size:17px;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;

}

.hero-text button:hover{

    background:#1D4ED8;

    transform:translateY(-4px);

    box-shadow:0 10px 25px rgba(37,99,235,.25);

}

#dashboard{

    padding:90px 8%;

}

#dashboard h2{

    text-align:center;

    font-size:38px;

    color:#1E3A8A;

}

#dashboard p{

    margin-top:15px;

    text-align:center;

    color:#666;

    margin-bottom:40px;

}

.dashboard-box{

    background:white;

    border-radius:18px;

    padding:25px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.dashboard-box iframe{

    width:100%;

    height:850px;

    border:none;

    border-radius:12px;

}

#platform{

    padding:80px 8%;

}

#platform h2{

    text-align:center;

    color:#1E3A8A;

    font-size:38px;

    margin-bottom:60px;

}

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

    gap:30px;

}

.card{

    background:white;

    padding:35px;

    border-radius:18px;

    text-align:center;

    transition:.35s;

    box-shadow:0 8px 18px rgba(0,0,0,.08);

}

.card:hover{

    transform:translateY(-10px);

}

.card i{

    font-size:50px;

    color:#2563EB;

    margin-bottom:20px;

}

.card h3{

    margin-bottom:15px;

}

.card p{

    color:#666;

    line-height:28px;

}

.card a{

    display:inline-block;

    margin-top:20px;

    text-decoration:none;

    color:white;

    background:#2563EB;

    padding:10px 28px;

    border-radius:8px;

}

.card a:hover{

    background:#1D4ED8;

}


footer{

    margin-top:50px;

    background:#1E3A8A;

    color:white;

    text-align:center;

    padding:25px;

}



@media(max-width:900px){

nav{

    flex-direction:column;

    gap:15px;

}

nav ul{

    gap:20px;

}

.hero-text h1{

    font-size:36px;

}

.hero-text h2{

    font-size:22px;

}

.dashboard-box iframe{

    height:650px;

}


nav ul li a.active{

    color:#2563EB;

    font-weight:700;

}



nav.scroll{

    box-shadow:0 5px 18px rgba(0,0,0,.15);

    transition:.3s;

}



section{

    opacity:0;

    transform:translateY(60px);

    transition:1s;

}

section.show{

    opacity:1;

    transform:translateY(0);

}
}